
<h1><%=@user.username.capitalize%>'s Saved Characters</h1>
<p><a href="/characters/new">Add a new character</a> / <a href="/users/<%=@user.slug%>/traits">See your characters orgainzed by traits</a></p>
<br>
<%@sorted_characters.each do |character|%>
  <h2><%=character.name%></h2>
  <p><b>Book/Series: </b><i><%=character.book%></i></p>
  <p><b>Description: </b><%=character.description%></p>
  <p><b>Traits:</b></b>
  <%character.traits.each do |trait|%>
    <p> - <%=trait.name%></p>
  <%end%>
  <p><a href="/characters/<%=character.slug%>/edit">Edit</a></p>
  <form action="/characters/<%=character.slug%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-success my-2 my-sm-0" type="submit" name="submit" value="Delete Character">
  </form><br>
<%end%>
<br>
