<h1><%=@character.name%></h1>
<br>
<p><b>Book/Series: </b><i><%=@character.book%></i></p>
<p><b>Description: </b><%=@character.description%></p>
<p><b>Traits:</b></b>
<%@character.traits.each do |trait|%>
  <p> - <%=trait.name%></p>
<%end%>
<%if @user.id == @character.user.id%>
<p><a href="/characters/<%=@character.slug%>/edit">Edit <%=@character.name%></a></p>
<%end%>
